body {
  background-color: #eef9f9;
  text-align: center;
  font-family: Arial, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 55px);
  width: 550px;
  margin: 20px auto;
  border: 4px solid black;
  background: white;
}

.cell {
  width: 55px;
  height: 55px;
  border: 1px solid #555;
  position: relative;
}

.num {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 12px;
  font-weight: bold;
}

.icon {
  font-size: 22px;
  position: absolute;
  top: 18px;
  left: 18px;
}

.snake {
  background-color: #ff7675;
}

.ladder {
  background-color: #55efc4;
}

.p1, .p2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
}

.p1 {
  background: red;
  left: 2px;
}

.p2 {
  background: blue;
  right: 2px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}
